---
import ProfilePanel from '../components/ProfilePanel.astro';
import InformationPanel from '../components/InformationPanel.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mpmpa">
	<section slot="profile">
		<ProfilePanel />
	</section>
	<section slot="information">
		<InformationPanel />
	</section>
</Layout>
