---
import AboutSection from "./information-sections/AboutSection.astro";
import EducationSection from "./information-sections/EducationSection.astro";
import ExperienceSection from "./information-sections/ExperienceSection.astro";
import ProjectsSection from "./information-sections/ProjectsSection.astro";
import SkillsSection from "./information-sections/SkillsSection.astro";
---

<section
    id="information-panel"
    class="w-full bg-[var(--colour-ink)] px-4 py-8 text-[var(--colour-cloud)]"
>
    <AboutSection />
    <ProjectsSection />
    <ExperienceSection />
    <EducationSection />
    <SkillsSection />
</section>
