---
import { profile } from "../../data/profile";
---

<section
  id="introduction-section"
  class="flex flex-col pb-8"
>
  <section id="about-me" class="flex flex-col">
    <section class="flex flex-col">
      <p class="text-xl font-medium leading-8 text-[var(--colour-cloud)]">
        {profile.role}
      </p>
    </section>
  </section>
</section>
